<h3>Crear Orden de Servicio</h3>

<label>Cliente</label>
<input
 type="text"
  class="form-control"
  [value]="cliente?.nombres + ' ' + cliente?.apellidos"
  disabled
/>

<label>Impresora</label>
<input
   type="text"
  class="form-control"
  [value]="impresora?.marca + ' ' + impresora?.modelo"
  disabled
/>

<hr />

<label>Motivo del cliente</label>
<input
  type="text"
  [(ngModel)]="orden.motivo_cliente"
  placeholder="Ej: No imprime"
  required
/>

<label>Descripción de la falla</label>
<textarea
  [(ngModel)]="orden.descripcion_falla"
  placeholder="Detalles técnicos observados"
></textarea>

<button (click)="guardarOrden()">
  Guardar Orden
</button>
