<h2>Registrar Impresora</h2>

<p *ngIf="error" style="color:red">{{ error }}</p>

<!-- BUSCAR CLIENTE -->
<label>Buscar cliente</label>
<input
  type="text"
  [(ngModel)]="busqueda"
  (keyup)="buscarClientes()"
  placeholder="DNI, nombre o apellido"
/>

<ul *ngIf="clientes.length > 0">
  <li *ngFor="let c of clientes">
    {{ c.nombres }} {{ c.apellidos }} ({{ c.dni }})
    <button type="button" (click)="seleccionarCliente(c)">
      Seleccionar
    </button>
  </li>
</ul>

<hr />

<!-- CLIENTE SELECCIONADO -->
<div *ngIf="clienteSeleccionado">
  <strong>Cliente seleccionado:</strong><br />
  {{ clienteSeleccionado.nombres }} {{ clienteSeleccionado.apellidos }}
</div>

<br />

<!-- FORM IMPRESORA -->
<form (ngSubmit)="guardar()">

  <input
    type="text"
    [(ngModel)]="marca"
    name="marca"
    placeholder="Marca"
  />

  <input
    type="text"
    [(ngModel)]="modelo"
    name="modelo"
    placeholder="Modelo"
  />

  <input
    type="text"
    [(ngModel)]="serie"
    name="serie"
    placeholder="Serie"
  />

  <br /><br />

  <button type="submit" [disabled]="!clienteSeleccionado">
    Registrar impresora
  </button>

</form>
