<h2>Buscar cliente</h2>

<input
  type="text"
  [(ngModel)]="query"
  (keyup)="buscar()"
  placeholder="DNI, nombre o apellido"
/>

<p *ngIf="error" style="color:red">{{ error }}</p>

<!-- RESULTADOS -->
<div *ngFor="let c of clientes" class="card">

  <!-- CLIENTE -->
  <h4
    style="cursor:pointer; color:#1976d2"
    (click)="seleccionarCliente(c)"
  >
    {{ c.nombres }} {{ c.apellidos }} ({{ c.dni }})
  </h4>

  <!-- IMPRESORAS DEL CLIENTE SELECCIONADO -->
  <ul *ngIf="clienteSeleccionado?.id === c.id">
    <li *ngFor="let i of c.impresoras">
      {{ i.marca }} - {{ i.modelo }} | {{ i.serie }}

      <button (click)="crearOrden(c.id, i.id)">
        🧾 Crear orden
      </button>
    </li>
  </ul>

</div>

<!-- ACCIONES CUANDO YA HAY CLIENTE SELECCIONADO -->
<div *ngIf="clienteSeleccionado" style="margin-top: 15px">
  <button (click)="continuarRegistrarImpresora()">
    ➕ Registrar nueva impresora
  </button>
</div>

<!-- SIN RESULTADOS -->
<!-- SIN RESULTADOS -->
<div *ngIf="clientes.length === 0 && query.length >= 2">
  <p>No se encontró el cliente</p>
  <button (click)="irRegistrarCliente()">
    ➕ Registrar nuevo cliente
  </button>
</div>

